<div class="ecommerce">
  <div class="container-fluid">
    <nav class="navbar">
      <div class="logo">
        <!-- <img src="logo-icon.png" alt="MedKitPOS Logo" class="logo-icon" /> -->
        <span>CARTX</span>
      </div>
      <ul class="nav-links">
        <li><a href="">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#pricing">Themes</a></li>
        <li><a href="#resource">Resource</a></li>
        <li><a href="#resource">Support</a></li>
      </ul>
      <ul class="nav-contact">
        <li><a href="#contact" class="contact-link">Contact Us</a></li>
      </ul>
    </nav>

    <div class="landing-container">
      <div class="container">
        <h1 class="heading" data-aos="zoom-in-up">
          Empower Your Business to Conquer the Global Marketplace with CARTX -
          Where Innovation Meets Opportunity in the Digital Era
        </h1>
        <p class="description" data-aos="fade-up">
          Unlock the potential of e-commerce with CARTX, a comprehensive
          platform designed to elevate your business to new heights. From
          seamless operations to unmatched customer engagement, CARTX equips you
          with everything you need to thrive in the fast-paced world of online
          retail. Start your journey toward limitless growth today!
        </p>
        <div class="demo-section" data-aos="zoom-out-up">
          <a href="#" class="schedule-demo me-4 p-3"> Schedule a free demo </a>
          <a href="" class="play-video text-dark">
            <i class="bi bi-play-circle me-2 fs-4"></i>
            Play Video
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-6">
      <div class="sectionA">
        <h4 data-aos="fade-up" data-aos-offset="350">About the App</h4>
        <h1 data-aos="fade-left" data-aos-offset="250">
          CARTX - The Future of Shopping, Today
        </h1>
        <p data-aos="fade-right" data-aos-offset="250">
          Discover the ultimate convenience with CARTX, your all-in-one mobile
          and web application for every shopping need. Whether it's groceries
          from supermarkets, medicines from pharmacies, meals from your favorite
          restaurants, stylish furniture, pet supplies, the latest fashion, or
          premium beauty care - CARTX brings it all to your fingertips. Shop
          anytime, anywhere with an intuitive interface, exclusive deals, and
          seamless delivery. Experience the future of e-commerce with a platform
          designed to simplify your life and elevate your shopping experience.
        </p>

        <div class="row ratings">
          <div
            class="col-md-3 col-3 text-center"
            data-aos="fade-down-right"
            data-aos-offset="250"
          >
            <h1 class="text-decoration-underline">30K</h1>
            <img class="love" src="landing\Love.png" alt="" /><img
              class="love"
              src="landing\Love.png"
              alt=""
            /><img class="love" src="landing\Love.png" alt="" /><img
              class="love"
              src="landing\Love.png"
              alt=""
            /><img class="love" src="landing\Love.png" alt="" />
            <br />
            <p class="text-left">Active Downloads on Mobile and Web</p>
          </div>
          <div
            class="col-md-3 col-3 text-center"
            data-aos="fade-up-left"
            data-aos-offset="250"
          >
            <h1 class="text-decoration-underline">4.7</h1>
            <img class="love" src="landing\Star.png" alt="" /><img
              class="love"
              src="landing\Star.png"
              alt=""
            /><img class="love" src="landing\Star.png" alt="" /><img
              class="love"
              src="landing\Star.png"
              alt=""
            /><img class="love" src="landing\Star.png" alt="" />
            <br />
            <p class="text-left">Customer Rating Across 10,000+ Reviews</p>
          </div>

          <div class="col-md-6 col-3" id="trustcom">
            <h1 class="fw-bold" data-aos="zoom-in-up" data-aos-offset="250">
              Trusted by <span class="text-primary">1000+</span> sellers to grow
              their business
            </h1>
          </div>
        </div>

        <h3 class="mt-5">Get CartX Now!</h3>
        <div
          class="button-container mt-4"
          data-aos="fade-up"
          data-aos-offset="350"
        >
          <a href="#" class="store-button app-store">
            <img src="landing/apple.png" alt="Apple Logo" />
            <span> Download on the<br /><strong>App Store</strong> </span>
          </a>
          <a href="#" class="store-button google-play">
            <img src="landing/google-play-store.png" alt="Google Play Logo" />
            <span> GET IT ON<br /><strong>Google Play</strong> </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <div
        class="ecomercemobile"
        data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="1000"
      >
        <img src="landing/ecomercemobile.png" alt="" />
      </div>
    </div>
  </div>

  <div class="row Cartx-features">
    <div class="feature-section" data-aos="fade-up" data-aos-offset="350">
      <h5>Revolutionary Features That Redefine Shopping</h5>
      <h2>Discover What Makes CARTX the Ultimate Shopping Companion</h2>
    </div>
    <div class="col-md-3">
      <div class="flip-card" data-aos="zoom-in-left">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">01</div>
              <div class="title">
                All-in-One Shopping Experience
                <p class="subtitle">Shop Everything You Need in One Place</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              Access a wide range of products from Supermarkets, Pharmacies,
              Restaurants, Furniture, Fashion, Beauty Care, Pet Supplies, and
              more—all in one easy-to-use platform.
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" data-aos="zoom-in-right">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">02</div>
              <div class="title">
                Blazing Fast Performance
                <p class="subtitle">
                  Lightning-Speed Browsing for Seamless Shopping
                </p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              Enjoy a smooth, fast, and responsive experience with CARTX,
              ensuring quick page loads and instant access to your desired
              items.
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" data-aos="zoom-in-left">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">03</div>
              <div class="title">
                Intuitive & User-Friendly Design
                <p class="subtitle">
                  Simple Navigation for Effortless Shopping
                </p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              CARTX's sleek, modern design is crafted to provide users with an
              intuitive and seamless experience, whether on mobile or web.
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" data-aos="zoom-in-right">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">04</div>
              <div class="title">
                Easy Installation
                <p class="subtitle">Quick Setup for Instant Access</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              Download and install the CARTX app in just a few seconds, with an
              easy setup process to get you shopping right away.
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" data-aos="zoom-in-left">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">05</div>
              <div class="title">
                24/7 Customer Support
                <p class="subtitle">Always Here to Help</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              Our dedicated support team is available 24/7 to assist with any
              queries, issues, or assistance you may need while using the app.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="featureimage">
        <img
          src="landing/1.png"
          class="featureimg1"
          alt=""
          data-aos="fade-up"
          data-aos-duration="2000"
        />
        <img
          src="landing/2.png"
          alt=""
          class="featureimg2"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"
        />
        <img
          src="landing/3.png"
          alt=""
          class="featureimg3"
          data-aos="fade-up"
          data-aos-duration="2000"
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="flip-card" data-aos="zoom-in-left">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">06</div>
              <div class="title">
                Secure Payments
                <p class="subtitle">Safe and Trusted Payment Options</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              Make secure payments through multiple trusted payment methods, all
              protected with top-notch encryption.
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" data-aos="zoom-in-right">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">07</div>
              <div class="title">
                Real-Time Order Tracking
                <p class="subtitle">Track Your Orders Anytime</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              Stay informed with real-time tracking of your orders, from
              purchase to delivery.
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" data-aos="zoom-in-left">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">08</div>
              <div class="title">
                Multi-Device Compatibility
                <p class="subtitle">Shop Across All Your Devices</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              Access CARTX seamlessly on mobile, tablet, or desktop, ensuring a
              consistent shopping experience on any device.
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" data-aos="zoom-in-right">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">09</div>
              <div class="title">
                Regular App Updates
                <p class="subtitle">
                  Continuous Improvements for a Better Experience
                </p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              We regularly update the app with new features and enhancements to
              provide users with the best shopping experience possible.
            </div>
          </div>
        </div>
      </div>

      <div class="flip-card" data-aos="zoom-in-left">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <div class="d-flex">
              <div class="number">10</div>
              <div class="title">
                Personalized Shopping Experience
                <p class="subtitle">Tailored Recommendations Just for You</p>
              </div>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="description">
              CARTX uses smart algorithms to provide personalized product
              recommendations based on your preferences and shopping history,
              making your experience more enjoyable and efficient.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="cartxDevices">
     <div class="devicesheading">
        <h1>Seamless Shopping Across All Devices with CARTX!</h1>
        <h6>Shop effortlessly on desktop, tablet, or mobile - CARTX adapts to your lifestyle!</h6>
     </div>

    <div class="tabs">
        <div class="tab-titles">
          <div class="tab-title" [class.active]="selectedTab === 0" (click)="selectTab(0)">
            <a  class="devices-button device">
                <img src="landing/desktop.png"  />
                <span> DESKTOP </span>
              </a>
          </div>
          <div class="tab-title" [class.active]="selectedTab === 1" (click)="selectTab(1)">
            <a  class="devices-button device">
                <img src="landing/tablet.png"  />
                <span> TABLET </span>
              </a>
          </div>
          <div class="tab-title" [class.active]="selectedTab === 2" (click)="selectTab(2)">
            <a class="devices-button device">
                <img src="landing/mobile.png"  />
                <span> MOBILE </span>
              </a>
          </div>
        </div>
      
        <div class="tab-content" style="height: 100vh;">
          <div *ngIf="selectedTab === 0" >
            
            <div class="desktops">
                <img src="landing/desktop1.png " class="desktopimg1" alt="" data-aos="fade-right">
                <img src="landing/desktop2.png" alt="" class="desktopimg2" data-aos="fade-down">
                <img src="landing/desktop3.png" alt="" class="desktopimg3" data-aos="fade-left">
            </div>
          </div>
          <div *ngIf="selectedTab === 1">
            <div class="row tabletdevicesection">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="tablet">
                        <img src="landing/tablet1.png " class="tabletimg1" alt="" data-aos="fade-up-right" data-aos-duration="1500">
                        <img src="landing/tablet2.png" alt="" class="tabletimg2" data-aos="fade-up-right" data-aos-duration="1000">
                        <img src="landing/tablet3.png" alt="" class="tabletimg3" data-aos="fade-up-right">
                    </div>
                </div>
                <div class="col-md-3">  </div>
            </div>
            
          </div>
          <div *ngIf="selectedTab === 2">
            <div class="mobile">
                <img src="landing/mobiledevice.jpg " class="mobileimage" alt="" data-aos="fade-up-right" >      
            </div>
          </div>
        </div>
      </div>
  </div>
</div>





